<div class="modal" #myModal id="submitModal" [ngStyle]="{'display': isOpen ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light">{{title}}</h5>
        <button class="close text-white-50" aria-label="Close" (click)="closeModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {{content}}
        <!-- Thank You for contacting. I will review the request, my resume will be sent if rellevant. -->
      </div>      
      <div class="modal-footer bg-dark">
        <button class="btn btn-secondary" (click)="closeModel()">Close</button>
      </div>
    </div><!--Content-->
    
  </div>
</div>
