<div class="p-3 col-sm-7">
  <div class="card" style="width: 20rem;">
    <img src="{{jobExperience.Image}}" style="width: 5rem;" class="card-img-top p-2 ml-2" alt="...">
    <div class="card-body">
      <div class="col p-2 card-title  mb-3 bg-dark text-white">       
        <h5 class="">{{jobExperience.CompanyName}}</h5>
        <h5 class="">{{jobExperience.Dates}}</h5>
      </div>      
      <h6 class="card-subtitle  p-2 mb-3 bg-dark text-white">{{jobExperience.JobTitle}}</h6>
      <p class="card-text">{{jobExperience.JobDescription}}</p>
      <a href="{{jobExperience.CompanyLink}}"   target="_blank" class="btn btn-primary">Visit Website</a>
    </div>
  </div>
</div>
