<div  class="card mt-2">
  <div class="card-header text-secondary">
    Skills
  </div>
  <div class="row mt-2">
    <!-- <div class="col-sm-1 ml-1"></div> -->
    <div class="col-sm mr-1 ml-1" *ngFor="let skill of skills$|async" >
      <div class="card" >
        <div class="card-header bg-primary text-white">
          {{skill.Parent}}
          <h6 class="card-subtitle mt-2 text-white">{{skill.Experience}}</h6>
        </div>
        <div class="card-body">
          <div *ngFor="let tech of skill.Skills">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="card-title">{{tech.Name}}</h5>
              </div>
              <div class="col-sm-2">
                <img src="{{tech.Image}}" style="width: 5rem;" class="p-2" alt="...">
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-1 ml-1"></div> -->
   </div>
  <!-- <div class="card-body "> style="width: 18rem;" -->
  <!--   <ul class="list-group">
      <li class="list-group-item text-secondary" *ngFor="let s of personalDetails.Skills"  >
        {{s}}
        
      </li>
      
    </ul> -->
    
    <!-- <p class="card-text text-secondary ">{{about}} </p> -->
    
  <!-- </div> -->
</div>