<div class="card card-body text-white bg-warning py-1">
  <h2>{{title}}</h2>
</div>
<div class="card mt-2"  >     
  <div class="card-header ">
   {{aboutSite.Description}}
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush"  >
      <li class="list-group-item text-secondary"*ngFor="let tech of aboutSite.Designs"  >
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="{{tech.Image}}" style="width: 4rem;">            
          </div> 
          <div class="col-md-10">
            <div class="card-body">
              <p class="card-text">{{tech.Description}}</p>
            </div>           
          </div>         
        </div>
        
      </li>
    </ul>    
  </div>
 
    
 

</div>
